---
- name: Disabling DNS processing in the NetworkManager configuration
  shell: |
    echo '[main]' > /etc/NetworkManager/conf.d/90-dns-none.conf
    echo 'dns=none' >> /etc/NetworkManager/conf.d/90-dns-none.conf
    systemctl reload NetworkManager
  args:
    warn: false

- name: Install SSSD and dependencies
  dnf:
    name:
      - realmd        
      - sssd
      - oddjob
      - oddjob-mkhomedir
      - adcli
      - samba-common
      - samba-common-tools
      - krb5-workstation
      - authselect-compat
  when: join_domain|bool

- name: Join domain
  shell: |
    echo {{ domain_join_pw }}| realm join {{ domain_name }} -U {{ domain_join_user }}
    authselect select sssd
    authselect select sssd with-mkhomedir
  when: join_domain|bool

- name: Update /etc/resolv.conf
  shell: |
    echo "search {{ domain_name }}" > /etc/resolv.conf
    echo "nameserver {{ ad_dns_server }}" >> /etc/resolv.conf
  when: join_domain|bool