---
- name: Unarchive Consul binary
  unarchive:
    src: https://releases.hashicorp.com/consul/{{ consul_version }}/consul_{{ consul_version }}_linux_amd64.zip
    dest: /usr/local/bin
    remote_src: yes

- name: Ensure group consul exists
  group:
    name: consul
    state: present

- name: Add the user consul and append to group consul
  user:
    name: consul
    group: consul
    append: yes

- name: Create the Certificate Authority and client/server certs
  shell: |
    mkdir /etc/consul.d || echo "alreday exists"
    cd /etc/consul.d/
    consul tls ca create
    tls cert create -server -dc {{ datacenter_name }}
    consul tls cert create -client -dc {{ datacenter_name }}

- name: Copy consul.hcl
  template:
    src: consul.hcl.j2
    dest: /etc/consul.d/consul.hcl
    owner: consul
    group: consul
    mode: '0640'

- name: Copy server.hcl
  template:
    src: server.hcl.j2
    dest: /etc/consul.d/server.hcl
    owner: consul
    group: consul
    mode: '0640'

- name: Copy Consul systemd file
  copy:
    src: consul.service
    dest: /usr/lib/systemd/system/consul.service
    owner: root
    group: root
    mode: '0644'

- name: SystemD daemon reload
  systemd:
    daemon_reload: yes

- name: Start and enable Consul
  systemd:
    state: started
    name: consul
    enabled: yes
