---
- name: Set root password
  shell: echo {{  root_pw }} | passwd --stdin root

- name: Patch OS
  dnf:
    name: "*"
    state: latest

- name: Install packages
  dnf:
    name:
      - git
      - mlocate
      - vim
      - wget
      - curl
      - setroubleshoot
      - zip
      - unzip

- name: Set hostname
  hostname:
    name: "{{ fqdn_hostname }}"

- name: Configure /etc/hosts
  shell: |
    echo "127.0.0.1   localhost localhost.localdomain localhost4 localhost4.localdomain4" > /etc/hosts
    echo "::1         localhost localhost.localdomain localhost6 localhost6.localdomain6" >> /etc/hosts
    echo "$(hostname -I)   {{ fqdn_hostname }}  {{ hostname }}" >> /etc/hosts
    systemctl reload NetworkManager

- name: Configure SELinux
  selinux:
    policy: targeted
    state: "{{ selinux_state }}"

- name: Install SSSD and dependencies
  dnf:
    name:
      - realmd        
      - sssd
      - oddjob
      - oddjob-mkhomedir
      - adcli
      - samba-common
      - samba-common-tools
      - krb5-workstation
      - authselect-compat
  when: join_domain|bool

- name: Disabling DNS processing in the NetworkManager configuration
  shell: |
    echo '[main]' > /etc/NetworkManager/conf.d/90-dns-none.conf
    echo 'dns=none' >> /etc/NetworkManager/conf.d/90-dns-none.conf
    systemctl reload NetworkManager
  args:
    warn: false
  when: join_domain|bool

- name: Update /etc/resolv.conf
  shell: |
    echo "search {{ domain_name }}" > /etc/resolv.conf
    echo "nameserver {{ ad_dns_server }}" > /etc/resolv.conf
  when: join_domain|bool

- name: Join domain
  shell: |
    echo {{ domain_join_pw }}| realm join {{ domain_name }} -U {{ domain_join_user }}
    authselect select sssd
    authselect select sssd with-mkhomedir
  when: join_domain|bool