---
- name: Install pre-requisite software
  dnf:
    name: yum-utils
    state: latest

- name: Add Docker repo
  shell: |
    yum-config-manager --add-repo https://download.docker.com/linux/centos/docker-ce.repo

- name: Install Docker
  shell: |
    dnf -y install docker-ce docker-ce-cli containerd.io  --nobest

- name: Start and enable Docker
  systemd:
    name: docker
    enabled: yes
    state: started

- name: Add the user to the docker groups
  user:
    name: "{{ user_added_to_docker_group }}"
    group: docker
    append: yes