---
- name: Install pre-requisite software
  dnf:
    name: yum-utils
    state: latest

- name: Update /etc/resolv.conf
  shell: |
    yum-config-manager --add-repo https://download.docker.com/linux/centos/docker-ce.repo

- name: install the Docker
  dnf:
    name:
      - docker-ce
      - docker-ce-cli
      - containerd.io
    state: latest

- name: Start and enable Docker
  systemd:
    name: docker
    enabled: yes
    state: started

- name: Add the user to the docker groups
  user:
    name: "{{ user_added_to_docker_group }}"
    group: docker
    append: yes